@tailwind base;
@tailwind components;
@tailwind utilities;

table {
  height: min-content;
}
tr {
  height: min-content;
}

td,
th {
  height: min-content;
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
